.bg-roxo{
    background: #7E459B;
}

.botao{
    position: fixed;
    bottom: 0;
    left: 0;
}
a:hover{
      font-weight: bold;
}

.fotosdocarosel{
    object-fit: cover;
    object-position: 0 90%;
    height: 65vh;

}

.fotocarosel3{
    object-position: 0 53%;
}

a{
    color: inherit;
}