.bg-roxo{
    background: #7E459B;
}

.botao{
    position: fixed;
    bottom: 0;
    left: 0;
}
a:hover{
      font-weight: bold;
}

.fotosdocarosel{
    object-fit: cover;
    object-position: 0 92%;
    height: 65vh;

}



a{
    color: inherit;
}

.caixa_de_texto{
    background-color:#7E459B;
}

.redes-sociais i{
    font-size: 1.6rem;
  }
  
  .font-roxo{
    color: rgb(75, 38, 94);
  }
  
  button{
    width: 100px;
  }
  
  button:hover{
   opacity: .9;